.wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  backdrop-filter: brightness(85%) blur(5px);

  @media (min-width: 600px) {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 600px) {
    padding: 10px;
  }
}

.buttons {
  display: flex;
  position: relative;

  @media (max-width: 600px) {
    margin-top: 10px;
  }
}

.button {
  border: 0;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 1.375rem;
  width: 240px;
  justify-content: center;
  transition: 0.35s;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:nth-child(1) {
    margin-right: 20px;

    svg {
      margin-right: 20px;
    }
  }

  &:nth-child(2) {
    svg {
      margin-left: 20px;
    }
  }

  svg {
    width: 25px;
  }

  @media (min-width: 600px) {
    padding: 20px 0;
  }

  @media (max-width: 600px) {
    padding: 10px 0;
  }
}
