.wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  backdrop-filter: brightness(85%) blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  position: relative;
}

.button {
  border: 0;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 20px 0;
  font-size: 1.375rem;
  width: 240px;
  justify-content: center;
  cursor: pointer;
  transition: 0.35s;

  &:nth-child(1) {
    margin-right: 20px;

    svg {
      margin-right: 20px;
    }
  }

  &:nth-child(2) {
    svg {
      margin-left: 20px;
    }
  }

  svg {
    width: 25px;
  }
}

.buttonDisabled {
  opacity: 0.5;
  pointer-events: none;
}
