.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: brightness(85%) blur(10px);
}

.buttons {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.button {
  border: 0;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 20px 0;
  font-size: 1.375rem;
  width: 240px;
  justify-content: center;
  cursor: pointer;

  &:nth-child(1) {
    margin-right: 20px;

    svg {
      margin-right: 20px;
    }
  }

  &:nth-child(2) {
    svg {
      margin-left: 20px;
    }
  }

  svg {
    width: 25px;
  }
}
