@import 'styles/mixins';

$dark: #221918;
$light: #de9934;

:export {
  dark: $dark;
  light: $light;
}

.wrapper {
  // Animation
  animation: slideInRight 1s;
}

.content {
  // Animation
  animation: slideInRight 1s;
}

.title {
  color: $light;
  margin-bottom: 40px;
}

.text {
  font-size: 1.25rem;
  max-width: 425px;
}

.carouselWrapper {
  display: flex;
  align-items: center;

  // Animation
  animation: slideInLeft 0.8s forwards;
}

.carouselControl {
  padding: 10px 5px;
  line-height: 0;
  background: transparent;
  border: 0;

  svg {
    fill: #c8c8c8;
    width: 25px;
  }
}

.subtitle {
  font-size: 1.375rem;
  font-weight: 700;
}

.carouselSlides {
  display: flex;
  max-width: 495px;
  overflow: hidden;
}

.card {
  margin: 25px 0;
  padding: 20px 35px;
  backdrop-filter: blur(3px) brightness(130%);
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: 0.5s ease-in-out;
}

.cardTitle {
  background: $dark;
  display: inline-block;
  padding: 3px 15px;
  border: 3px solid #4f4f4f;
  border-radius: 3px;
  margin-bottom: 20px;
}

.dots {
  display: flex;
  gap: 20px;
}

.dot {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background: white;
}

@include desktop {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
  }

  .title {
    font-size: 3.125rem;
  }

  .carousel {
    margin: 0 25px;
  }
}

@include mobile {
  .wrapper {
    padding: 50px 15px;
  }

  .title {
    font-size: 2.125rem;
  }

  .carouselWrapper {
    margin-top: 40px;
  }

  .carousel {
    min-width: 1px;
  }

  .carouselControl {
    position: absolute;
    top: 50%;
    z-index: 1;

    &:nth-child(1) {
      left: -7px;
    }

    &:nth-child(3) {
      right: -7px;
    }
  }

  .cardText {
    font-size: 0.9rem;
  }
}

@keyframes slideInRight {
  from {
    transform: translate(-250px, -250px);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(200px);
  }
}
