@use 'mixins' as *;

.section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: var(--dark);
  animation: showSection 0.2s forwards;
}

@include desktop {
  .section {
    padding-top: 20px;
    padding-bottom: 133px;
  }
}

@include mobile {
  .section {
    padding-top: 10px;
    padding-bottom: 143px;
  }
}

@keyframes showSection {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
