.wrapper {
  display: flex;
  align-items: center;
}

.playPause {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0;
  transition: 0.35s;

  svg {
    width: 24px;
  }

  @media (min-width: 600px) {
    width: 72px;
    height: 72px;
  }

  @media (max-width: 600px) {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}

.playPauseAnim {
  // Animation
  animation: rotate 5s infinite linear;
}

.content {
  @media (min-width: 600px) {
    margin: 0 10px 0 20px;
  }

  @media (max-width: 600px) {
    margin-left: 10px;
    flex-grow: 1;
  }
}

.songName {
  color: white;

  svg {
    transform: translateY(2px);
    margin-right: 5px;
    fill: white;
    width: 18px;
  }
}

.next {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;

  svg {
    fill: #c8c8c8;
    width: 18px;
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(180deg);
  }
}
