$dark: #1d1d1d;
$light: #3e95fb;

:export {
  dark: $dark;
  light: $light;
}

.content {
  text-align: center;
  max-width: 600px;
  padding: 0 15px;
  margin: auto;
}

.title {
  color: $light;
  font-size: 3.75rem;
}

.subtitle {
  margin-top: 30px;
  font-size: 1.5rem;
}

.spacer {
  background: #2a2a2a;
  margin: 40px;
  height: 1px;
}

.text {
  font-size: 1.15rem;
}
