$dark: #05262a;
$light: #6ff0bb;

:export {
  dark: $dark;
  light: $light;
}

.container {
  width: 100%;
  height: 100vh;
  background: $dark;
  padding: 4vh 4vw 113px 4vw;
}

.title {
  font-size: 3.125rem;
  color: $light;
}

.subtitle {
  font-size: 1.25rem;
  margin: 5px 0 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  backdrop-filter: brightness(135%);
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
  position: relative;
}

.cardTitle {
  font-size: 1.25rem;
  color: white;
}

.cardSubtitle {
  margin: 10px 0 20px;
}

.cardFooter {
  display: flex;
  align-items: center;
}

.cardImage {
  width: 150px;
  height: 95px;
  border-radius: 3px;
  margin-right: 15px;
}
