@import 'styles/mixins';

$dark: #05262a;
$light: #6ff0bb;

:export {
  dark: $dark;
  light: $light;
}

.wrapper {
  max-width: 95%;
  margin: auto;
}

.title {
  font-size: 3.125rem;
  color: $light;

  // Animation
  animation: slideInRight 0.35s forwards;
}

.subtitle {
  font-size: 1.25rem;
  margin: 5px 0 20px;

  // Animation
  animation: slideInRight 0.85s forwards;
}

.cards {
  display: grid;
}

.card {
  backdrop-filter: brightness(135%);
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
  position: relative;

  // Animation
  animation: slideInRight 0.5s forwards;
  opacity: 0;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}),
    &:nth-child(#{$i + 3}) {
      animation-delay: #{$i / 10}s;
    }
  }
}

.cardTitle {
  font-size: 1.25rem;
  color: white;
}

.cardSubtitle {
  margin: 10px 0 20px;
}

.cardFooter {
  display: flex;
  align-items: center;
}

.cardImage {
  border-radius: 3px;
  margin-right: 15px;
}

@include desktop {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

@include mobile {
  .wrapper {
    padding: 50px 10px 10px;
  }

  .cards {
    gap: 25px;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
