* {
  box-sizing: border-box;
}

html,
body,
button {
  color: #c8c8c8;
  font-family: 'Monda', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-family: 'Russo One', sans-serif;
}

body {
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #414141;
  }

  &::-webkit-scrollbar-thumb {
    background: #727272;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}
