* {
  box-sizing: border-box;
}

html,
body,
button {
  color: #c8c8c8;
  font-family: 'Monda', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-family: 'Russo One', sans-serif;
}
