* {
  box-sizing: border-box;
}

body[data-section='1'] {
  --dark: #1d1d1d;
  --light: #3e95fb;
}

body[data-section='2'] {
  --dark: #1d0039;
  --light: #af44ff;
}

body[data-section='3'] {
  --dark: #221918;
  --light: #de9934;
}

body[data-section='4'] {
  --dark: #05262a;
  --light: #6ff0bb;
}

body[data-section='5'] {
  --dark: #140000;
  --light: #c80c00;
}

body {
  background-color: var(--dark);
}

html,
body,
button {
  color: #c8c8c8;
  font-family: 'Monda', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-family: 'Russo One', sans-serif;
}

body {
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #414141;
  }

  &::-webkit-scrollbar-thumb {
    background: #727272;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  cursor: pointer;
}
