html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
small,
strong,
i,
ol,
ul,
li,
figure,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

figure,
footer,
header,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
