.background {
  mix-blend-mode: soft-light;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  object-fit: cover;
  pointer-events: none;
  display: block;
  transition: 0.7s;

  &[data-loaded='false'] {
    opacity: 0;
    filter: blur(6px);
  }

  &[data-loaded='true'] {
    opacity: 0;
  }
}
