.background {
  mix-blend-mode: soft-light;
  object-fit: cover;
  pointer-events: none;
  transition: 0.7s;

  &[data-loaded='false'] {
    opacity: 0;
    filter: blur(6px);
  }

  &[data-loaded='true'] {
    opacity: 0;
  }
}
