.menu {
  position: fixed;
  right: 0;
  z-index: 1;
  top: 0;
  padding: 15px;

  &:hover {
    .list {
      display: block !important;
    }
  }
}

.wrapper {
  display: flex;
  align-self: center;
  cursor: pointer;

  svg {
    fill: #c7c7c7;
    width: 10px;
  }
}

.flag {
  margin-right: 5px;
  border-radius: 2px;
  opacity: 0.8;
}

.list {
  border-radius: 4px;
  position: absolute;
  right: 15px;
  top: 30px;
  display: none;
  animation: showList 0.35s forwards;
  backdrop-filter: blur(5px) brightness(135%) opacity(0.7);
}

.listItem {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding: 10px;
  white-space: nowrap;

  svg {
    fill: #c8c8c8;
    margin-left: 5px;
    width: 32px;
  }

  &:first-child {
    cursor: pointer;
  }
}

@keyframes showList {
  from {
    transform: translateX(15px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
